html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

#fondo {
    background: url("../img/cielo.jpg") repeat;
    /* (i) imagen creada por mi utilizando Adobe Illustrator*/
    height: 70%;
}

section a {
    color: rgb(244, 214, 176);
}

section h3 {
    display: none;
}


/* leyenda de información de la página howto.html */

.leyenda {
    color: yellow;
    font-size: 0.7em;
}

#howto li {
    text-align: left;
    padding: 10px;
    margin-left: 40px;
    font-style: italic;
}

#suelo {
    background-image: url("../img/suelo.jpg");
    /* (i) imagen creada por mi utilizando Adobe Illustrator*/
    height: 30%;
}

figure {
    z-index: 1;
    position: relative;
    text-align: center;
    /* color: yellow; */
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

figure #nave {
    position: absolute;
    left: 50%;
    /* (i) modificar valor con javascript para elevar nave */
    bottom: 60%;
    /* (i) imagen modificada de la original obtenida desde https://commons.wikimedia.org/wiki/File:Emojione_1F680.svg */
    background-image: url("../img/cohetesp.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 72px;
    height: 119px;
    /* -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0); */
    transform: translate(-50%, 0);
    background-position: -0px 0px;
}

figure #sombra {
    position: absolute;
    left: 50%;
    /* -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0); */
    transform: translate(-50%, 0);
    background-size: cover;
    bottom: -100px;
    width: 72px;
    height: 119px;
    background-image: url("../img/cohetesp.png");
    background-position: -216px 0px;
}


/*********************

   Vista escritorio

**********************/

@media only screen and (min-width: 600px) {
    header {
        z-index: 2;
        position: relative;
        background-color: rgb(1, 165, 156);
    }
    h1 {
        text-align: center;
        padding: 1em;
        font-size: 20px;
        border-width: 0.1em;
        border-color: black;
        border-style: solid;
        color: black;
    }
    h1::before {
        content: "";
        position: absolute;
        background-image: url("../img/iconsv2.png");
        background-size: 40px;
        width: 40px;
        height: 40px;
        margin-left: -50px;
        top: 15px;
    }
    /* Contenido */
    #dificultad {
        z-index: 3000;
        position: fixed;
        left: 50%;
        height: 100px;
        width: 300px;
        /* -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0); */
        transform: translate(-50%, 0);
        text-align: center;
        color: white;
        background-color: black;
        border: 1px solid white;
    }
    section#pages {
        z-index: 200;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 0.8em;
    }
    #pages article {
        /* (?) buscar forma de poner un recuardo en el centro que sea semi transparente y que contenga los textos */
        color: white;
        height: 100%;
        padding: 10px;
        text-align: justify;
        background-color: black;
    }
    #hidem,
    #showm {
        display: none;
    }
    /* Menú de navegación */
    .menu,
    .panel {
        width: 200px;
        color: white;
        padding: 2px;
        margin: 10px;
    }
    .menu {
        /* (i) necesario para que funcionen los enlaces https://stackoverflow.com/questions/4407878/why-does-adding-floatleft-to-my-css-make-my-link-unclickable */
        position: relative;
        z-index: 10;
        /* (/i) */
        float: right;
        text-align: right;
        background-color: black;
        border: 1px solid white;
    }
    .menu li {
        list-style: none;
        background-size: 40px;
        height: 40px;
        background-image: url("../img/iconsv2.png");
        background-repeat: no-repeat;
        margin: 5px;
    }
    /* (?) buscar la forma de centrar los textos de las listas en los menús */
    .play {
        background-position: 0px -120px;
    }
    .play:hover {
        background-position: 0px -320px;
    }
    .about {
        background-position: 0px -80px;
    }
    .about:hover {
        background-position: 0px -280px;
    }
    .howto {
        background-position: 0px -40px;
    }
    .howto:hover {
        background-position: 0px -240px;
    }
    /* Indicadores */
    .panel {
        /* display: none; */
        float: left;
        text-align: left;
        background-color: black;
        border: 1px solid white;
    }
    .panel li {
        list-style: none;
        background-repeat: no-repeat;
        background-color: black;
        font-size: 0.5em;
        color: white;
        margin: 10px 0 10px 0;
        width: 100%;
    }
    /* (?) buscar la forma de centrar los textos de las listas en los menús */
    .speed :nth-child(2) {
        background-color: red;
        width: 100%;
        /* (i) modificar con javascript */
    }
    .fuel :nth-child(2) {
        background-color: red;
        width: 100%;
        /* (i) modificar con javascript */
    }
    .height :nth-child(2) {
        background-color: red;
        width: 100%;
        /* (i) modificar con javascript */
    }
}


/***********************

        Vista móvil         

************************/

@media only screen and (max-width: 600px) {
    header {
        z-index: 2;
        position: relative;
        background-color: rgb(1, 165, 156);
    }
    h1 {
        text-align: center;
        padding: 1em;
        font-size: 90%;
        /* border-width: 0.1em; */
        border-color: black;
        border-style: solid;
        color: black;
    }
    /* boton pause */
    /* nav::after {
        z-index: 1000;
        content: "";
        display: inline-block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        background-image: url("../img/iconsv2.png");
        background-size: 40px;
        width: 40px;
        height: 40px;
        /* (i) modificar con javascript al pausar el juego, para que cambie el icono a pause  
        background-position: 0 -120px; 
        /* background-position: 0 -160px;  
        /* (/i) 
    } */
    /* Contenido */
    #dificultad {
        z-index: 3000;
        position: fixed;
        left: 50%;
        height: 100px;
        width: 90%;
        /* -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0); */
        transform: translate(-50%, 0);
        text-align: center;
        color: white;
        background-color: black;
        border: 1px solid white;
    }
    section#pages {
        z-index: 200;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 0.6em;
    }
    #pages article {
        color: white;
        height: 600px;
        padding: 10px;
        text-align: justify;
        background-color: black;
    }
    /* menú vista movil */
    #showm {
        z-index: 1000;
        display: inline-block;
        position: absolute;
        background-image: url("../img/iconsv2.png");
        background-size: 40px;
        top: 0.1em;
        left: 0.1em;
        width: 40px;
        height: 40px;
    }
    #hidem {
        position: absolute;
        background-image: url("../img/iconsv2.png");
        background-size: 40px;
        background-position: 0 -200px;
        top: 0.1em;
        left: 0.1em;
        width: 40px;
        height: 40px;
    }
    .menu {
        z-index: 1001;
        /* (i) ocultar o mostrar menú movil con javascript  */
        display: none;
        /* (/i) */
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #263238;
    }
    .menu li {
        list-style: none;
        position: relative;
        /* top: 3em; */
        text-align: center;
        line-height: 100px;
    }
    .play,
    .howto {
        outline-style: groove;
        outline-color: #90A4AE;
        outline-width: 1px;
    }
    /* indicadores */
    .panel {
        position: fixed;
        text-align: left;
        background-color: black;
        border-right: 1px solid white;
        /* margin: 1px; */
        height: 100%;
    }
    .panel li {
        list-style: none;
        background-repeat: no-repeat;
        /* background-color: black; */
        font-size: 0.5em;
        /* height: 2.9em; */
        color: white;
        margin: 2px;
        /* width: 150px; */
        padding-top: 20px;
        height: 100px;
    }
    /* (?) buscar la forma de centrar los textos de las listas en los menús */
    .speed :nth-child(2) {
        background-color: red;
        /* width: 100%; */
        height: 100%;
        /* (i) modificar con javascript */
    }
    .fuel :nth-child(2) {
        background-color: red;
        /* width: 100%; */
        height: 100%;
        /* (i) modificar con javascript */
    }
    .height :nth-child(2) {
        background-color: red;
        /* width: 100%; */
        height: 100%;
        /* (i) modificar con javascript */
    }
}


/* Pie de página */

#suelo {
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    text-align: center;
    background-color: rgb(244, 214, 176);
}

footer a {
    color: black;
}